{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin_custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base_custom.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

{% endblock %}

{% block nav-sidebar %}

{% endblock %}
{% block branding %}
  <h1 id="site-name">
    <a href="{% url 'admin:index' %}">CRPAY Admin</a>
  </h1>
{% endblock %}
{% block content %}
  {{ block.super }}
{% endblock %}
