{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
<div class="dashboard-container">
    <img src="{% static 'admin/img/logo-crpay.png' %}" alt="Logo Django" class="dashboard-logo" height="200px" width="200px"/>

    <div class="dashboard-buttons-grid">
        <a href="{% url 'admin:entity_entity_changelist' %}" class="dashboard-button">
            <i class="fas fa-building"></i> Partenaires
        </a>
        <a href="{% url 'admin:entity_appuser_changelist' %}" class="dashboard-button">
            <i class="fas fa-users"></i> Utilisateurs
        </a>
        <a href="{% url 'admin:transaction_transaction_changelist' %}" class="dashboard-button">
            <i class="fas fa-exchange-alt"></i> Paiments
        </a>
        <a href="{% url 'admin:transaction-stats' %}" class="dashboard-button">
            <i class="fas fa-chart-line"></i> Voir les statistiques
        </a>
        <a href="{% url 'admin:transaction_intouchlog_changelist' %}" class="dashboard-button">
            <i class="fas fa-terminal"></i> Trace des appels API
        </a>
    </div>
</div>
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin_custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base_custom.css' %}">

<style>
  .dashboard-button i {
    margin-right: 10px;
    color: #666;
    transition: color 0.3s ease;
  }

  .dashboard-button:hover i {
    color: #007B5E;
  }
</style>
{% endblock %}

{% block extrajs %}
{% endblock %}
